<body>
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-3 side-nav" id="leftCol">
                    <div class="hide-side">
                        <ul class="listnone nav" id="sidebar">
                            <li class="active"><a href="#aboutus">About us</a></li>
                            <li><a href="#team">Meet The Team</a></li>
                            <li><a href="#history">Our History</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 content-right">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aboutus" id="aboutus">
                                <h1 style="text-align: center"><strong>We are Weddings Finder.</strong></h1>
                                <p class="lead" style="font-size: 15px; color: black">
                                    <i>Do you have a special love story?
                                        Actually every love story is great…
                                        How does yours begin, what did it take, who was involved.
                                        We are eager to read yours or maybe you are just eager to read others.
                                        Please share yours with us on our social media accounts and follow.</i>
                                </p>
                                <p>Rudorwedu Team gets a lot of wedding related questions from future brides and grooms. We try to help as much as we can and to the best of our knowledge. We have created a platform where you can send in your questions. we broadcast it on the page and ask verified Rudorwedu Wedding Service Providers for help, planning advice and quotations. The team is here to help you no matter what stage of wedding planning you are in. If you just got engaged then our planning tools such as the budget planner and the wedding inspiration blog will be the perfect way to kick start your planning. Perhaps it’s the perfect wedding venue you are looking for.Browse everything from rustic barns the glitzy and glamorous, the cakes, the dress or photographers in our extensive wedding service provider directory. Or maybe you are looking for a place to chat and ask all those burning questions?</p>
                                <p>Our busy team and verified Rudorwedu Wedding Service Providers will be here to answer your questions, point you to the right direction and provide quotations based on your budget. So you have to write your name, contact, location, date of wedding/event, your breakdown of your budget and your vision We also have an option to upload a few pictures of your inspiration so that the service providers and Rudorwedu team have a clear view of what you are looking for.The wedding service providers will get back to you with their quotations and will be able to bid for client jobs based on information provided. Wedding Service Providers can add their company on our list and directory .This is a great advertisement for small business #SupportZimbabwean #SupportZimbabweanBusiness. The page will advertise your company details, all social medias, what you do ,where you are located and if you are available to travel for work.</p>
                            </div>
                        </div>
                        <div class="col-md-12 team-section" id="team">
                            <h1>Our Founder</h1>
                            <div class="row">
                                <div class="col-md-4"><img src="images/founder.jpg" alt="" class="img-responsive img-circle"></div>
                                <div class="col-md-8">
                                    <h2>Yolanda Chibaya</h2>
                                    <p>Nullam pellentesque congue ante ellentesque eget odio faucibus laoreet at pulvinar augueras ornare tincidunt nibh sodales tempus urabitur justo elit laoreet sed elit quis auctor placerat magna.</p>
                                    <p>Find her on Twitter at <a href="#">@ychibaya</a></p>
                                </div>
                            </div>
                            <div class="row team-section">
                                <div class="col-md-4 text-center team-block">
                                    <div class="team-pic">
                                        <!-- team pic -->
                                        <a href="#"><img src="images/team-pic7.jpg" class="img-responsive" alt=""></a>
                                    </div>
                                    <!-- /.team pic -->
                                    <h2><a href="#">Jimmy Ash</a></h2>
                                    <span>Chief Executive Officer</span>
                                    <div class=""> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-linkedin-square"></i></a> </div>
                                </div>
                                <div class="col-md-4 text-center team-block">
                                    <div class="team-pic">
                                        <!-- team pic -->
                                        <a href="#"><img src="images/team-pic8.jpg" class="img-responsive" alt=""></a>
                                    </div>
                                    <!-- /.team pic -->
                                    <h2><a href="#">Avery Moseley</a></h2>
                                    <span>Chief Executive Officer</span>
                                    <div class=""> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-linkedin-square"></i></a> </div>
                                </div>
                                <div class="col-md-4 text-center team-block">
                                    <div class="team-pic">
                                        <!-- team pic -->
                                        <a href="#"><img src="images/team-pic2.jpg" class="img-responsive" alt=""></a>
                                    </div>
                                    <!-- /.team pic -->
                                    <h2><a href="#">Marie Tucker</a></h2>
                                    <span>Chief Executive Officer</span>
                                    <div class=""> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-linkedin-square"></i></a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 history" id="history">
                            <h1>History</h1>
                            <p>Cras acmetus sed arcu posuere interdu murabitur nunc sapienravida nec tempus
                                eumn fermentum vitae erat raesent hendrerit ligula urnaonsec teturipsum estibulum
                                justo ligula.</p>
                        </div>
                        <div class="col-md-12">
                            <ul class="timeline">
                                <li>
                                    <div class="tl-circ"></div>
                                    <div class="timeline-panel">
                                        <div class="history-pic"> <img src="images/post-pic.jpg" class="img-responsive" alt=""> </div>
                                        <div class="tl-heading">
                                            <h1>2019</h1>
                                        </div>
                                        <div class="tl-body">
                                            <h3>The Wedding Vandor Begins</h3>
                                            <p>Nullam ultricies venenatis enim sed sagittis. Donec sodales,
                                                eros necerisque suscipitonec vitae elit dictum lectus gravida
                                                malesuadaInteger sapien nibh, bibendum a arcu quis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="tl-circ"></div>
                                    <div class="timeline-panel">
                                        <div class="history-pic"> <img src="images/post-pic.jpg" class="img-responsive" alt=""> </div>
                                        <div class="tl-heading">
                                            <h1>2020</h1>
                                        </div>
                                        <div class="tl-body">
                                            <h3>The First Office</h3>
                                            <p>Nullam ultricies venenatis enim sed sagittis. Donec sodales, eros
                                                necerisque suscipitonec vitae elit dictum lectus gravida
                                                malesuadaInteger sapien nibh, bibendum a arcu quis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tl-circ"></div>
                                    <div class="timeline-panel">
                                        <div class="tl-heading">
                                            <h1>2021</h1>
                                        </div>
                                        <div class="tl-body">
                                            <h3>Expansion </h3>
                                            <p>Nullam ultricies venenatis enim sed sagittis. Donec sodales,
                                                eros necerisque suscipitonec vitae elit dictum lectus gravida
                                                malesuadaInteger sapien nibh, bibendum a arcu quis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="tl-circ"></div>
                                    <div class="timeline-panel">
                                        <div class="tl-heading">
                                            <h1>2022</h1>
                                        </div>
                                        <div class="tl-body">
                                            <h3>Today Wedding Vandor </h3>
                                            <p>Nullam ultricies venenatis enim sed sagittis. Donec sodales, eros necerisque suscipitonec vitae elit dictum lectus gravida malesuadaInteger sapien nibh, bibendum a arcu quis.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>