<body>
<div class="tp-dashboard-head">
    <!-- page header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 profile-header">
                <div class="profile-pic col-md-2"><img src="images/profile-dashbaord.png" alt=""></div>
                <div class="profile-info col-md-9">
                    <h1 class="profile-title">Welcome Admin</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page header -->
<div class="tp-dashboard-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12 dashboard-nav">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href=""><i class="fa fa-dashboard db-icon"></i>My Dashboard</a></li>
                    <li><a href="/dashboard-cakes"><i class="fa fa-cake db-icon"></i>Cakes</a></li>
                    <li><a href="dashboard-dresses"><i class="fa fa-female db-icon"></i>Wedding Dresses </a></li>
                    <li><a href="dashboard-flowers"><i class="fa fa-flower db-icon"></i>Flowers</a></li>
                    <li><a href="#"><i class="fa fa-lock db-icon"></i>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="section-space80 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb60 text-center">
                        <h1>Our Services</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a volutpat felis, nec bibendum nisl. </p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <!-- vendor box start-->
                    <div class="vendor-box">
                        <div class="vendor-image">
                            <!-- vendor pic -->
                            <a href="#"><img src="images/vendor-1.jpg" alt="wedding vendor" class="img-responsive"></a>
                            <div class="feature-label"></div>
                            <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.vendor pic -->
                        <div class="vendor-detail">
                            <!-- vendor details -->
                            <div class="caption">
                                <!-- caption -->
                                <h2><a href="#" class="title">Robot Pictures | Photographer</a></h2>
                                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(2)</span> </div>
                            </div>
                            <!-- /.caption -->
                            <div class="vendor-price">
                                <div class="price">$190 - $600</div>
                            </div>
                        </div>
                        <!-- vendor details -->
                    </div>
                </div>
                <!-- /.vendor box start-->
                <div class="col-md-4">
                    <!-- vendor box start-->
                    <div class="vendor-box">
                        <div class="vendor-image">
                            <!-- vendor pic -->
                            <a href="#"><img src="images/vendor-4.jpg" alt="wedding vendor" class="img-responsive"></a>
                            <div class="rated-label"></div>
                            <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.vendor pic -->
                        <div class="vendor-detail">
                            <!-- vendor details -->
                            <div class="caption">
                                <!-- caption -->
                                <h2><a href="#" class="title">KnowHow Dresses | Wedding Dress</a></h2>
                                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(3)</span> </div>
                            </div>
                            <!-- /.caption -->
                            <div class="vendor-price">
                                <div class="price">$290 - $600</div>
                            </div>
                        </div>
                    </div>
                    <!-- vendor details -->
                </div>
                <!-- /.vendor box start-->
                <div class="col-md-4 vendor-box">
                    <!-- vendor box start-->
                    <div class="vendor-image">
                        <!-- vendor pic -->
                        <a href="#"><img src="images/vendor-3.jpg" alt="wedding vendor" class="img-responsive"></a>
                        <div class="popular-label"></div>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.vendor pic -->
                    <div class="vendor-detail">
                        <!-- vendor details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Vendor Photographer Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(5)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$390 - $600</div>
                        </div>
                    </div>
                    <!-- vendor details -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
