
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rudo Rwedu</title>
    <!-- Bootstrap -->
    <link href="../chibaya/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template style.css -->
    <link rel="stylesheet" type="text/css" href="../chibaya/css/style.css">
    <link rel="stylesheet" type="text/css" href="../chibaya/css/fontello.css">
    <!-- Font used in template -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'>
    <!--font awesome icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="../chibaya/images/favicon.ico" type="image/x-icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="collapse" id="searcharea">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
    <button class="btn tp-btn-primary" type="button">Search</button>
    </span> </div>
    </div>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 top-message">
                    <p>Welcome to Rudo Rwedu.</p>
                </div>
                <div class="col-md-6 top-links">
                    <ul class="listnone">
                        <li><a href="#"> Help </a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#" class=" ">I m couple</a></li>
                        <li><a href="#">Are you vendor?</a></li>
                        <li><a href="#">Log in</a></li>
                        <li>
                            <a role="button" data-toggle="collapse" href="#searcharea" aria-expanded="false" aria-controls="searcharea"> <i class="fa fa-search"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 logo">
                    <div class="navbar-brand">
                        <a href="index.ejs"><img src="../chibaya/images/logo.png" alt="Wedding Vendors" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="navigation" id="navigation">
                         
                        <ul>
                            <li class="active">
                                <a href="index.ejs">Home</a>
                            </li>
                            <li>
                                <a href="#">Listing</a>
                            </li>
                            <li>
                                <a href="#">Vendor</a>
                            </li>
                            <li>
                                <a href="#" title="Home" class="animsition-link">Suppliers</a>
                            </li>
                            <li>
                                <a href="#">Planning Tools</a>
                            </li>
                            <li><a href="#">Features</a>
                                <ul>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>
                                    <li><a href="about-us.ejs">About us</a></li>
                                    <li><a href="wedding-guideline.html">Template Guideline</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tp-page-head">
        <!-- page header -->
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="page-header text-center">
                        <div class="icon-circle">
                            <i class="icon icon-size-60 icon-padlock-1 icon-white"></i>
                        </div>
                        <h1>Join the Rudo Rwedu community</h1>
                        <p>We're happy to have you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page header -->
    <div class="tp-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Register Page</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="container">
            <div class="centered">
                <div class="row">
                    <div class="col-md-6 st-tabs">
                        <!-- Nav tabs -->
                            <div class="well-box">
                            <h3>Register</h3>
                            <form>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="firstname">Firstname<span class="required">*</span></label>
                                    <input id="firstname" name="firstname" type="text" placeholder="Firstname" class="form-control input-md" required>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="lastname">Lastname<span class="required">*</span></label>
                                    <input id="lastname" name="lastname" type="text" placeholder="Lastname" class="form-control input-md" required>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label" for="username">Username<span class="required">*</span></label>
                                    <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md" required>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label" for="email">Email<span class="required">*</span></label>
                                    <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label" for="password">Password<span class="required">*</span></label>
                                    <input id="password" name="password" type="text" placeholder="Password" class="form-control input-md" required>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label" for="confirm-password">Confirm Password<span class="required">*</span></label>
                                    <input id="confirm-password" name="confirm-password" type="password" placeholder="Password Again" class="form-control input-md" required>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label" for="mobile-number">Mobile Number<span class="required">*</span></label>
                                    <input id="mobile-number" name="mobile-number" type="text" placeholder="Mobile Number" class="form-control input-md" required>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label" for="address">Address<span class="required">*</span></label>
                                    <input id="address" name="address" type="text" placeholder="Address" class="form-control input-md" required>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label" for="business-name">Business Name<span class="required">*</span></label>
                                    <input id="business-name" name="business-name" type="text" placeholder="Business Name" class="form-control input-md" required>
                                </div>
                                <!-- Button -->
                                <div class="form-group">
                                    <button id="submit" name="submit" class="btn btn-primary btn-lg">Register</button>
                                    <a href="login.ejs" class="pull-right"> <small>Login?</small></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="footer">
            <!-- Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-5 ft-aboutus">
                        <h2>Rudo Rwedu</h2>
                        <p>At Wedding Vendor our purpose is to help people find great online network connecting wedding suppliers and wedding couples who use those suppliers. <a href="#">Start Find Service!</a></p>
                        <a href="#" class="btn btn-default">Request a Service</a> </div>
                    <div class="col-md-3 ft-link">
                        <h2>Useful links</h2>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Home</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 newsletter">
                        <div class="social-icon">
                            <h2>Be Social &amp; Stay Connected</h2>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Footer -->
        <div class="tiny-footer">
            <!-- Tiny footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">Copyright © 2017. All Rights Reserved</div>
                </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="../chibaya/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../chibaya/js/bootstrap.min.js"></script>
        <!-- Flex Nav Script -->
        <script src="../chibaya/js/jquery.flexnav.js" type="text/javascript"></script>
        <script src="../chibaya/js/navigation.js"></script>
        <script src="../chibaya/js/jquery.sticky.js"></script>
        <script src="../chibaya/js/header-sticky.js"></script>
</body>

</html>
